@media screen and (max-width:770px) {    
    span.checkbtn {
        display: flex;
    }
    
    nav ul {
        display: none;
    }

    span .fa-sort-down {
        margin-left:.5rem;
    }

    .check-media:hover + nav ul {
        display: flex;
    }

    .check-media:hover + .active{
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-top: 20rem;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* main */
    .botao {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }

    h3.titulo {
        font-size: 3rem !important;
    }

    p.descricao {
        font-size: 0.8rem;
    }

}

@media screen and (min-width:1000px) {
    .descricao {
        width: 70%;
    }

}