:root {
    --vermelha: #e50914;
    --preta: #141414;
    --branca: #ffffff;
    --pretaGrad:rgba(0, 0, 0, .50);
}

@font-face {
    font-family: Supernatural;
    src: url(../fonts/Supernatural_Knight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Arial', 'Times New Roman', Times, serif;
    color: var(--branca);
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

label.logo {
    color: var(--vermelha);
    font-size: 31px;
    line-height: 80px;
    padding: 0 48px;
    font-family: 'Arial', Helvetica, sans-serif;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--branca);
    font-size: 17px;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(var(--pretaGrad), var(--pretaGrad)100% ), url('../img/lucifer.jpg');
    background-size: cover;
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}

.filme-principal .descricao {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-family: 'Arial', 'Times New Roman', Times, serif;
}

.filme-principal .titulo {
    margin-top: 10rem;
    font-size: 4rem;
    font-family: Supernatural;
    color: var(--branca);
    
}

.botao {
    background-color: var(--pretaGrad);
    width: 14rem;
    border: none;
    color: var(--branca);
    padding: 1.2rem 1rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: var(--branca);
    color: var(--preta);
}

.botao i {
    margin-right: .2rem;
}

.container {
    margin-left: 2rem;
}

.filme-principal .container {
    width: 70%;
}

/* menu hamburger */
.checkbtn {
    font-size: 30px;
    /* color: var(--branca); */
    float: right;
    /* line-height: 50px; */
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

