:root {
    --vermelha: #e50914;
    --preta: #141414;
    --branca: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: var(--branca);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

.filme-principal {
    font-size: 16px;
    background: url('../img/house.jpg');
    background-repeat: no-repeat;
   background-size: 100%;
    height: 100%;
    
}
/**/