:root {
    --vermelha: #e50914;
    --preta: #141414;
    --branca: #ffffff;
    --pretaGrad:rgba(0, 0, 0, .50);
}

@font-face {
    font-family: Supernatural;
    src: url(../fonts/Supernatural_Knight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: var(--branca);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 3rem;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(var(--pretaGrad), var(--pretaGrad)100% ), url('../img/lucifer.jpg');
    background-size: cover;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}

.filme-principal .descricao {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.filme-principal .titulo {
    margin-top: 2rem;
    font-size: 4rem;
    font-family: Supernatural;
    color: var(--branca);
    
}

.botao {
    background-color: var(--pretaGrad);
    border: none;
    color: var(--branca);
    padding: 1.2rem 3rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: var(--branca);
    color: var(--preta);
}

.botao i {
    margin-right: .2rem;
}

.container {
    margin-left: 2rem;
}

.filme-principal .container {
    width: 70%;
}

